DATABASE_URL="postgresql://owey:owey@localhost:5432/owey?schema=public"

NEXTAUTH_SECRET=
NEXTAUTH_URL="http://localhost:3000"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

ANTHROPIC_API_KEY=

AWS_REGION="us-east-1"
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_RECEIPTS=
